<div class="bg-gray-200">
  <body>
    <div id="root">
      <div class="flex justify-center items-center bg-gray-200 duration-300">
        <div class="min-h-screen container grid grid-rows-[auto_1fr]">
          <header
            class="flex justify-between md:justify-around items-center p-5"
          >
            <a
              class="flex items-center hover:scale-105 duration-300 gap-3"
              routerLink="/home"
            >
              <span class="xs:hidden flex text-3xl font-bold text-orange-600"
                >OtaCopilot</span
              >
            </a>
            <div class="flex items-center gap-8">
              <nav class="font-medium">
                <ul class="flex gap-4">
                  <li class="hover:scale-105 duration-100">
                    <a class="text-black" routerLink="/home">Home</a>
                  </li>
                  <li class="hover:scale-105 duration-100">
                    <a class="text-orange-700" routerLink="/play">Start</a>
                  </li>
                </ul>
              </nav>
            </div>
          </header>
          <main class="p-4 md:p-8">
            <section
              class="grid grid-cols-1 lg:grid-cols-1 place-items-center h-full"
            >
              <div
                class="flex flex-col justify-center items-center text-center"
              >
                <h1 class="text-5xl md:text-7xl font-extrabold">
                  Unlock the World of Anime
                </h1>
                <p class="my-6 text-lg">
                  Discover a vast universe of anime that suits your unique
                  preferences. OtaCopilot ensures a comprehensive representation
                  of anime diversity by collecting databases of various
                  categories, types, authors, and more.
                </p>
                <a
                  class="flex items-center text-lg bg-orange-700 hover:bg-orange-600 text-white rounded-lg duration-300 w-fit px-5 py-2.5 gap-2"
                  routerLink="/play"
                  >Start to Discover</a
                >
              </div>
              <div class="w-80 m-10 shadow-2xl">
                <img
                  src="https://media.discordapp.net/attachments/1157361311060066345/1172345678421315654/ota-logo.png?ex=655ffafe&is=654d85fe&hm=2cbf046c5ae7c3f92599e995d2343630f28b0c7e10d454109ea80ebbc06ea3c0&=&width=804&height=804"
                  alt="Logo of OtaCopilot"
                  class="blob animate-moveLeftToRight"
                />
              </div>
            </section>
          </main>
        </div>
      </div>
    </div>
  </body>
  <form [formGroup]="searchForm" (ngSubmit)="searchAnimes()" class="w-full md:w-1/2 mx-auto pt-8 pb-8 bg-slate-200">
    <label
      for="default-search"
      class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white"
      >Search</label
    >
    <div class="relative flex items-center">
      <div
        class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none"
      >
        <svg
          class="w-4 h-4 text-gray-500 dark:text-gray-400"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 20 20"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
          />
        </svg>
      </div>
      <input
        type="text"
        formControlName="searchTerm"
        class="block w-full p-4 ps-10 text-sm text-gray-900 border border-orange-300 rounded-lg bg-gray-50 focus:ring-orange-500 focus:border-orange-500"
        placeholder="Search Animes"
        required
      />
      <button
        type="submit"
        class="text-white absolute end-2.5 bottom-2.5 bg-orange-700 hover:bg-orange-800 focus:ring-4 focus:outline-none focus:ring-orange-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-orange-600 dark:hover:bg-orange-700 dark:focus:ring-orange-800"
      >
        Search
      </button>
    </div>
  </form>
  
  <div
    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-5 lg:grid-cols-5 gap-16 mx-auto px-20 pb-24 bg-gray-200"
  >
    <app-anime-card
      *ngFor="let anime of animes"
      [anime]="anime"
      class="w-full h-100"
    >
    </app-anime-card>
  </div>
</div>
